* {
  box-sizing: border-box;
  border: solid blue 2px;
}

body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}

.section1 {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;



}




.header {
  display: flex;
  justify-content: space-between;

}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

.main-content1 {
  display: flex;
  gap: 10px;
}


.main-content1 .image {
  background-color: gray;
  height: 150px;
  width: 370px;
  color: aliceblue;
}

.card {
  width: 120px;
}

.card .image {
  width: 120px;
  height: 120px;
}
