@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.section2,
.section3,
.section4 {
  height: 500px;
}




.section1 {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: white;
  height: 400px;
  justify-content: center;
}





.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #1f2937;


}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  align-items: center;
}

a,
.subtext {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}



.txt .maintext {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 20px;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  border: none;
}

.main-content1 {
  display: flex;
  gap: 40px;
  padding-left: 10vw;
  padding-right: 10vw;
  justify-content: space-between;
}

.main-content1 .txt {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-content1 .image {
  background-color: gray;
  width: 450px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}


.infoheader {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 900;
  font-size: 36px;
  color: #1f2937
}

.cardholder {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card {
  width: 150px;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  gap: 3px;

}

.card .txt {
  text-align: center;
}

.card .image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: solid 4px #3882f6;
}

.section3 {
  background-color: #e5e7eb;
  display: flex;
}

.section3 .main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 18%;
  padding-right: 18%;
  gap: 7px;
}


.quote {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 25px;
  padding-right: 50px;
}
